@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(55, 48, 61);
}
body{
    background: url('../imagens/fundo-madeira.jpg')no-repeat top center;
    background-size: cover;
}
main{
    height: 100vh;
    position: relative;

}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    background:url('../imagens/frame-iphone.png')no-repeat;
    width: 311px;
    height: 627px;
  
}
iframe#tela{
    position: relative;
    top: 80px;
    left: 21px;
    height: 471px;
    width: 270px; 
}